#profile {
  margin: 1rem 0rem;
}
@media screen and (max-width: 1400px) {
  #profile {
    height: 80vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  /* #desktop-nav {
    display: none;
  } */
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 2% 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  /* footer {
    height: 40vh;
  } */
  #profile {
    height: 53vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.4rem;
  }
  /* .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  } */
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media screen and (min-width: 1372.44px) {
  #profile{
    margin: -2rem 10rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  a{
    font-size: 20px;
  }
  .logo {
    font-size: 1.6rem;
}
}
@media screen and (min-width: 500) and (max-width: 600px) {
  .contact-info-container p, .nav-links li a {
    font-size: 1.1rem;
}
.logo {
    font-size: 1.3rem;
}
.nav-links {
    gap: 1.5rem;
}
}
@media screen and (min-width: 600) and (max-width: 700px) {
  .nav-links {
    gap: 1.5rem;
}
}
@media screen and (max-width: 500px) {
  .nav-links {
    /* gap: 1.08rem; */
}

  .logo{
    font-size: 1rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 350px) {
  .text-container p{
    font-size: 15px;
  }
}
@media screen and (min-width: 350px) and (max-width: 400px) {
  .text-container p{
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .nav-links {
    gap: 0.5rem;
}
}
@media screen and (min-width: 420px) and (max-width: 500px) {
  article {
    width: 4.5rem;
}
}
@media screen and (max-width: 420px) {
  article {
    width: 3rem;
}
}
@media screen and (min-width: 400px) and (max-width: 450px) {
  .contact-info-container p, .nav-links li a {
    font-size: 1rem;
}.logo {
    font-size: 1rem;
}
.text-container p{
  font-size: 15px;
}
}
@media screen and (max-width: 700px) {
  a{
    font-size: 20px;
  }
  .logo {
    font-size: 1.5rem;
}
}
@media screen and (max-width: 1400px) {
  .text-container p{
    padding: 25px 25px;
  }
}


@media screen and (max-width: 600px) {
  .logo{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 400px) {
  .contact-info-container p, .nav-links li a {
    font-size: 0.9rem;
}
.nav-links {
  gap: 0.5rem;
}
.logo {
  font-size: 1rem;
}

}

@media screen and (max-width: 450px) {
  .about{
    margin: -1rem 2rem;
  }
  .contact-info-container a{
    font-size: 19px;
  }
  .nav-contact{
    display: none;
  }
  #desktop-nav{
      height: 70px; 
  }
  article img{
    height: 50px;
    width: 50px;
  }
  article h3{
    font-size: 15px;
  }
}
@media screen and (max-width: 345px) {
  .contact-info-container p, .nav-links li a {
    font-size: 0.8rem;
}.logo {
    font-size: 0.9rem;
}
.text-container p{
  font-size: 13px;
}
}
@media screen and (max-width: 1160px) {
.text-container p{
  font-size: 20px;
}
}
@media screen and (min-width: 1160px) and (max-width: 1350px) {
.text-container p{
  font-size: 21px;
}
}
@media screen and (min-width: 500px) and (max-width: 600px) {
.text-container p{
  font-size: 17px;
}
}
@media screen and (min-width: 440px) and (max-width: 500px) {
  .text-container p {
    font-size: 16px;
}
}
@media screen and (min-width: 330px) and (max-width: 440px) {
  .text-container p {
    font-size: 14px;
}
}
@media screen and (max-width: 329px) {
  .text-container p {
    font-size: 13px;
}
@media screen and (max-width: 704px) {
  article {
    width: 5rem;
}
}
}
@media screen and (min-width: 0px) and (max-width: 329px) {
  article h3{
    font-size: 13px;
  }
}
@media screen and (min-width: 450.1px) and (max-width: 650px) {
  #desktop-nav {
    height: 73px;
}
}